body{
    background-color: cornflowerblue;
    color: cornsilk;
    font: normal 20pt Arial;
}

input{
    font: normal 18pt Arial;
    color: cornflowerblue;
    width: 100px;
}

#res{
    margin-top: 20px;
}